.row {
    margin-left: 0;
    margin-right: 0;
}

.jumbotron {
    background-size: 100% 100%;
    min-height: 230px;
    margin-bottom: 30px;
    height: 40%;
    padding: 0;
}


#text_box{
    font-size: 5.714em;
    font-weight: bold;
    color: rgb(255,249,219);
    text-shadow: -2px -2px 20px rgb(93,23,121);
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#explain {
    margin-left: 20px;
    color: rgb(94,94,94);
    font-size: 1.5em;
    margin-bottom: 30px;
    line-height: 1.7;
}

.keyword{
    font-size: 1.2em;
    font-weight: bold;
}


.gray {
    line-height: 3;
    color: #fff;
    padding: 0 12px;
    border-radius: 20px;
    background-color: gray;
}


.red {
    color: #fff;
    padding: 0 12px;
    border-radius: 20px;
    background-color: #ed2f67;
}

.yellow {
    background-color: #ecb62d;
}

.dot {
    font-size: 1.7em;
    margin-left: -24px;
}



#introduction {
    /*background: linear-gradient(90deg, #ed2f67, #ff854b);  标准的语法 */
    background-image: url(../img/detail/introduction_02.jpg);
}
#guide {
    /*background: linear-gradient(90deg, #2ded9f, #2aebcc);  标准的语法 */
    background-image: url(../img/detail/use_02.jpg);
}
#rate {
    /*background: linear-gradient(90deg, #2e7bee, #4aa3ff);  标准的语法 */
    background-image: url(../img/detail/wyglfx_02.jpg);
}
#lean {
    /* background: linear-gradient(90deg, #ecb62d, #d5ef3e); 标准的语法 */
    background-image: url(../img/detail/pxyfx_02.jpg);
}

.screenshot {
    padding: 0;
    display: inline-block;
    /*            border: 2px blue dashed;*/
    width: 100%;
}