/*全局设定*/
@font-face {
    font-family: "PingFang";
    src: url("../fonts/PingFang/PingFang.eot"); /* IE9 */
    src: url("../fonts/PingFang/PingFang.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/PingFang/PingFang.woff") format("woff"), /* chrome、firefox */
    url("../fonts/PingFang/PingFang.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../fonts/PingFang/PingFang.svg#PingFang") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

html {
    height: 100%;
}

body {
    padding-top: 50px;
    font-family: PingFang, sans-serif;
    height: 100%;
    background-color: rgb(248,248,248);
}

.navbar.navbar-default.navbar-fixed-top{
    border-bottom: 0;
    margin-bottom: 0;
    background-color:#fff;
    filter:Alpha(opacity=82);
    background-color: rgba(255,255,255,0.82);
}

.navbar-right {
    font-size: 1em;
    margin-right: 10%;
    /*    transform: translateX(-50%);*/
}

.navbar .navbar-header {
    margin-left: 10%;
    /*transform: translateX(50%);*/
}

.navbar-brand img {
    height: 100%;
}

.navbar-brand {
    padding: 10px 15px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.line-limit-length {
    width: fit-content;
    width: -moz-fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; //文本不换行，这样超出一行的部分被截取，显示...
}

.dropdown {
    padding-left: 15px;
    padding-right: 15px;
}