.header{
    height: 42%;
    background-image: url("../img/team_02.jpg");
    background-size: 100%;
}
.title{
    padding-left: 4.5%;
    margin-top: 5%;
}
.row{
    margin-right: 0;
}
.header-intro{
    color: white;
    font-size: 1.3em;
    margin-top: 3%;
    text-align: center;
}
.angle{
    width: 50%;
}
.left-angle{
    padding-left:5%;
}
.right-angle{
    padding-left: 5%;
    margin-left: 3.5%;
}
.intro{
    margin-top: 2%;
}
.team-intro{
    text-align: left;
    color: rgb(64,64,64);
    font-size: 1.1em;
    padding-left: 8%;
}
.avatar-img{
    border-radius: 50%;
    width: 100%;
    padding-top:5%;
    padding-left:1%
}
.avatar{
    width:22%;
    float: left;
    margin-left:2%;
    transition: all 0.4s;
}
.text{
    margin-left: 38%;
}
.members{
    position: absolute;
    margin-top: 2%;
    height: 35%;
    display: none;
}
.members > .row{
    margin-top: 1%;
}
.mem-intro{
    background-color: white;
    box-shadow:2px 2px 5px #E0E0E0;
    border-radius: 10px;
    height: 100%
}
.mem-intro > div{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: -2%;
}
.mem-photo{
    width: 90%;
    border-radius: 10px;
}
.member{
    padding-top: 4%;
}
.mem-text{
    padding-top: 2%;
    color: rgb(64,64,64);
    font-size: 1.2em;
    line-height: 1.5;
}
.name{
    color: rgb(83,83,83);
    font-weight: bold;
    font-size: 2em;
}